openapi: 3.0.3
info:
  title: Examination API
  version: 1.0.0
servers:
  - url: http://localhost:8080
    description: Local server
paths:
  /hello:
    get:
      summary: Get Hello World
      operationId: getHello
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: './types.yaml#/components/schemas/HelloResponse'
